#jumboStyle {
/* background: url('../assets/rf0zsoR.gif') no-repeat center; */
background: url('../assets/comp3.jpeg') no-repeat center;
 background-size: cover;
 color: var(--color3);
 /* text-align: center; */
 font-family: var(--font2);
 font-size: 120px;
 text-shadow: 2px 2px var(--color2);
 }

.textOp {
    color: var(--color3);
    /* opacity: 0.85; */
}
